pillow>=9.0.0
pre-commit
accelerate>=0.21.0
beautifulsoup4
bs4
came-pytorch
einops
ftfy
diffusers@git+https://github.com/huggingface/diffusers
clip@git+https://github.com/openai/CLIP.git
gradio>=4.44.1
image-reward==1.5.0
ipdb
mmcv==1.7.2
omegaconf
opencv-python
optimum
patch_conv
peft
protobuf
pytorch-fid
regex
sentencepiece
tensorboard
tensorboardX
timm==0.6.13
transformers>=4.33.0
wandb
webdataset
xformers==0.0.27.post2
yapf
matplotlib
termcolor
pyrallis>=0.3.1
bitsandbytes
huggingface-hub>=0.16.4
numpy==1.22.0
tqdm>=4.65.0 